<div id="app_details_main" class="container app_details">
  <div class="outer-panel">
    <h1>Application Details</h1>

    <h2 class="target_title"><%= @identifier %></h2>
    <div class="events_link"> <a  href="http://localhost:9393/sources/#{identifier}/events">View Events for This User</a></div>

    <div class="row">

      <div class="col s6">
        <div class="card-panel white">
        <span class="card-title">Sorted URLs by Request</span>
            <% @application.sorted_urls_by_request.each do |key, value|%>
            <p><span class="data"><a href="http://localhost:9393/sources/#{identifier}/#{path}"><%=key[:url]%></a> : <%=value%></span></p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Operating Systems</span><br>
          <% @application.user_agents.each.with_index do |agent, index| %>
          <p>
            <span class="data"><%=@application.user_agents[index][:os]%></span>
          </p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">User Agents</span><br>
          <% @application.user_agents.each.with_index do |agent, index| %>
          <p>
            <span class="data"><%=@application.user_agents[index][:user_agent]%></span>
          </p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Average Response Times</span>
          <p>Longest Average Response Time: <span class="data"><%=@application.average_response_times[0][1]%></span> </p>
          <p>Shortest Average Response Time: <span class="data"><%=@application.average_response_times[-1][1]%></span> </p>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Screen Resolutions</span>
          <% @application.uniq_screen_resolutions.each do |resolution| %>
          <p>Screen Resolutions:
            <span class="data"><%= resolution[0] %></span> by <span class="data"><%= resolution[1]%></span> </p>
          <% end %>
        </div>
      </div>
    </div><!--row-->
  </div><!--outer-panel-->
</div><!--container-->