<div class="container app_details">
  <div class="outer-panel">
    <h1>Application Details</h1>

    <h2 class="identifier_name"><%= @identifier %></h2>
    <div class="events_link"> <a  href="http://localhost:9393/sources/#{@identifier}/events">View Events for This User</a></div>

    <div class="row">
      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Sorted URLs by Request</span>
          <% @application.sorted_urls_by_request.each do |object, count| %>
            <p>URL: <a href="<%=object.url%>"><%=object.url%></a></p>
            <p>Hits: <span class="data"><%=count%></span></p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Browsers Used</span>
              <% @application.user_agents.each do |object, count| %>
              <p>Browsers: <span class="data"><%=object.user_agent%></span> </p>
              <p>Times Used: <span class="data"><%=count%></span></p>
              <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">User Agents</span>
          <% @application.user_agents.each do |object, count| %>
          <p>Operating Systems: <span class="data"><%=object.os%></span> </p>
          <p>Times OS Used: <span class="data"><%=count%><span> </p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Average Response Times</span>
          <% @application.average_response_times.each do |object, avg| %>
          <p>Average Response Times: <span class="data"><%=object.url%></span> </p>
          <p>Average Response Time: <span class="data"><%=avg%></span> </p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Screen Resolutions</span>
          <% @application.screen_resolutions.each do |object, count| %>
          <p>Screen Resolutions: <span class="data"><%=object.width%></span> by <span class="data"><%=object.height%></span> </p>
          <p>Times Resolution Used: <span class="data"><%=count%></span> </p>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>