<%= erb :"_id_navbar", locals: { identifier: @identifier } %>
<div class="container app_details">
  <div class="outer-panel">
    <h1>Application Events Index</h1>

    <h2 class="target_title">All Events</h2>

    <div class="row">

      <div class="col s12">
        <div class="card-panel white">
          <span class="card-title">Index of Received Events:</span>
          <%@application.sorted_events.each do |event|%>
          <p><a href="/sources/<%=@identifier %>/events/<%=event[0]%>"><%= event[0] %></a> Count: <span class="data"><%= event[1] %></span></p>
          <%end%>
        </div>
      </div>

    </div>
  </div>
</div>
