<h1>URL-Specific Data</h1>

<h5>URL:<br><%= @url_path %> </h5><br>

<h5>Longest Response Time:<br><%= @url.sorted_url_response_times.first[:responded_in] %></h5><br>

<h5>Shortest Response Time:<br><%=@url.sorted_url_response_times[-1][:responded_in]     %></h5><br>

<h5>Average Response Time:<br><%= @url.average_url_response_time    %></h5><br>

<h5>HTTP Verbs Used:<br><%=  %></h5><br>

<h5>Three Most Popular Referrers:<br><%=  %></h5><br>

<h5>Three Most Popular User Agents:<br><%=     [0..2]%></h5><br>
