<div class="container app_details">
  <div class="outer-panel">
    <h1>URL Specific Data</h1>

    <h2 class="target_title"><%= @url.url %></h2>

    <div class="row">

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Longest Response Time: </span>
          <% @application.sorted_urls_by_request.each do |object, count| %>
            <%= @url.sorted_url_response_times.first[:responded_in] %>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Shortest Response Time: </span>
          <%=@url.sorted_url_response_times[-1][:responded_in]%>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Average Response Time:</span>
          <%= @url.average_url_response_time%>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">HTTP Verbs Used:</span>
          <% @url.used_http_verbs.each do |verb| %>
                <%= verb %>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Three Most Popular Referrers:</span>
            <%=  %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Three Most Popular User Agents:</span>
            <%=  %>
        </div>
      </div>

    </div>
  </div>
</div>
