<%= erb :"_id_navbar", locals: { identifier: @identifier } %>
<div id="path" class="container app_details">
  <div class="outer-panel">
    <h1>URL Specific Data</h1>

    <h2 class="target_title"><%= params[:path] %></h2>

    <div class="row">

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Longest Response Time: </span>
          <% @application.sorted_urls_by_request.each do |object, count| %>
            <p><span class="data"><%= @url.sorted_url_response_times.first[:responded_in] %></span> ms</p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Shortest Response Time: </span>
          <p><span class="data"><%=@url.sorted_url_response_times[-1][:responded_in]%></span> ms</p>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Average Response Time:</span>
          <p><span class="data"><%= @url.average_url_response_time%></span> ms</p>
        </div>
      </div>

      <div id="path_verb_data" class="col s6">
        <div class="card-panel white">
          <span class="card-title">HTTP Verbs Used:</span>
          <% @url.used_http_verbs.each do |verb| %>
              <p>  <span class="data"><%= verb %></span> </p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Three Most Popular Referrers
            <% @url.top_three_rank(:referrer).each do |ref| %>
                  <p><span class="data"><%= ref[0]%></span> &nbsp &nbsp Count: <span class="data"><%= ref[1] %></span> </p>
          <% end %>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel white">
          <span class="card-title">Three Most Popular User Agents:</span>
          <% @url.top_three_rank(:user_agent).each do |agent| %>
                <p><span class="data"><%= agent[0]%></span> &nbsp &nbsp Count: <span class="data"><%= agent[1] %></span> </p>
        <% end %>
        </div>
      </div>




    </div>
  </div>
</div>
